#!/usr/bin/env xdg-open
[Desktop Entry]
Icon=user-desktop
Name[es_ES]=Mostrar el escritorio
Name=Show desktop
Type=Application
Exec=qdbus6 org.kde.kglobalaccel /component/kwin invokeShortcut "MinimizeAll"
