[Desktop Entry]
Icon=preferences-system-tabbox
Name[es_ES]=Cambiar de ventanas
Name=Switch windows
Type=Application
Execute=qdbus6 org.kde.kglobalaccel /component/kwin invokeShortcut "Cycle Overview"
